<ion-content>
  <ion-list>
    <ion-item *ngFor="let report of reports" detail [routerLink]="report.url">
      <ion-label>
        <h2>{{report.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>