<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Process Inventory Request
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="view" (ionChange)="onSegmentChanged()" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <ion-segment-button value="check-out">
      Check-Out
    </ion-segment-button>
    <ion-segment-button value="check-in">
      Check-In
    </ion-segment-button>
    <ion-segment-button value="broken">
      Repair
    </ion-segment-button>

  </ion-segment>

  <ion-searchbar [(ngModel)]="searchInput" (ionChange)="onSearch()" debounce="500">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="border-bottom table-header">
      <ion-col size="1" class="self-center">
        <ion-checkbox color="tertiary"></ion-checkbox>
      </ion-col>

      <ion-col size="1" class="self-center">
        User
      </ion-col>
      <ion-col size="1" class="self-center">
        Loc
      </ion-col>
      <ion-col class="self-center">
        Name
      </ion-col>
      <ion-col class="self-center" *ngIf="view === 'check-in'">
        Checked-Out Date
      </ion-col>
      <ion-col size="1" class="self-center">
        Qty
      </ion-col>
      <ion-col size="1" class="self-center" *ngIf="view === 'check-out'">
        Avail
      </ion-col>
      <ion-col size="1" class="self-center">
        <ion-button fill="clear" disabled="true" size="small">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let item of checkOutList">

      <ion-row class="border-bottom">
        <ion-col size="1" class="flex items-center justify-between self-center">
          <ion-checkbox [(ngModel)]="item.allChecked" (ionChange)="onCheckboxChangeAll(item)"></ion-checkbox>
        </ion-col>
        <ion-col class="self-center">
          {{item.name}}
        </ion-col>
      </ion-row>

      <ng-container *ngFor="let record of item.records">
        <ion-row class="border-bottom">
          <ion-col size="1" class="flex items-center justify-between self-center">
            <ion-checkbox *ngIf="view === 'check-out'" [(ngModel)]="record.isCheckedOut" (ionChange)="onCheckboxChange()"></ion-checkbox>
            <ion-checkbox *ngIf="view === 'check-in' || view === 'broken'" [(ngModel)]="record.isCheckedIn" (ionChange)="onCheckboxChange()"></ion-checkbox>
          </ion-col>
          <ion-col size="1" class="self-center">

          </ion-col>
          <ion-col size="1" class="self-center">
            <span [class.strike-out-item]="view === 'check-out' ? record.isCheckedOut : record.isCheckedIn">{{record.location}}</span>
          </ion-col>
          <ion-col class="self-center">
            <span [class.strike-out-item]="view === 'check-out' ? record.isCheckedOut : record.isCheckedIn">{{record.name}}</span>
          </ion-col>
          <ion-col class="self-center" *ngIf="view === 'check-in'">
            <span>{{item.date | date}}</span>
          </ion-col>
          <ion-col size="1" class="self-center">{{record.quantity}}</ion-col>
          <ion-col size="1" class="self-center" *ngIf="view === 'check-out'">{{record.available}}</ion-col>
          <ion-col size="1" class="self-center">
            <ion-button (click)="presentPopoverMenu($event, item.id, record.id)" fill="clear" size="small">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

      </ng-container>

    </ng-container>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button *ngIf="view === 'check-out' && displayCheckOutBtn" expand="full" class="m2" (click)="checkInOrOut('out')">Check
    Out</ion-button>
  <ion-button *ngIf="view === 'check-in' && displayCheckOutBtn" expand="full" class="m2" (click)="checkInOrOut('in')">Check
    In</ion-button>
  <ion-button *ngIf="view === 'broken' && displayCheckOutBtn" expand="full" class="m2" (click)="checkInOrOut('broken')">Fixed</ion-button>
</ion-footer>