.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.table-header{
    color: rgba(0,0,0,.54);
}
.header{
    background-color: white;
}
.checkbox-disabled{
    opacity: 1;
}
.circle{
    border-radius: 50%;
    background-color: aliceblue;
    width: 25px;
    height: 25px;
}
.strike-out-item{
    text-decoration: line-through;
}