<ion-header mode="ios">
  <app-filter-panel (valueChanges)="valueChanges($event)" [trigger]="triggerFilters" [fields]="fields" [filterData]="filterData"></app-filter-panel>
  <ion-row class="border-bottom table-header">
    <ion-col class="self-center">
      User
    </ion-col>
    <ion-col class="self-center">
      Loc
    </ion-col>
    <ion-col class="self-center">
      Name
    </ion-col>
    <ion-col class="self-center">
      Check-Out Date
    </ion-col>
    <ion-col class="self-center">
      Qty
    </ion-col>
    <ion-col class="self-center">
      Truck
    </ion-col>
    <ion-col class="self-center">
      Status
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-grid>

    <ng-container *ngFor="let item of reportsData">

      <ion-row class="border-bottom">
        <ion-col class="self-center">
          {{item.name}}
        </ion-col>
      </ion-row>

      <ng-container *ngFor="let record of item.records; even as e;">
        <ion-row [ngClass]="{'row-color': e}">
          <ion-col class="self-center">
          </ion-col>
          <ion-col class="self-center">
            <span>{{record.location}}</span>
          </ion-col>
          <ion-col class="self-center">
            <span>{{record.name}}</span>
          </ion-col>
          <ion-col class="self-center">
            <span>{{record.date | date}}</span>
          </ion-col>
          <ion-col class="self-center">{{record.quantity}}</ion-col>
          <ion-col class="self-center">{{record?.truck}}</ion-col>
          <ion-col class="self-center">{{record.status}}</ion-col>
        </ion-row>

      </ng-container>

    </ng-container>
  </ion-grid>
</ion-content>