<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add User</ion-title>
    <ion-button slot="end" (click)="onClose()" fill="clear" color="light">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      USER INFO
    </ion-label>
  </ion-item-divider>

  <form [formGroup]="addUserForm" (ngSubmit)="upsertItem()">
    <ion-list>
      <ion-item>
        <ion-label>First Name:</ion-label>
        <ion-input formControlName="firstname" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name:</ion-label>
        <ion-input formControlName="lastname" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>UserId:</ion-label>
        <ion-input formControlName="userid" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-item-divider>
      <ion-label>
        AUTHORIZATION
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-radio-group (ionChange)="onAuthChange($event)">
        <ion-item>
          <ion-label>User</ion-label>
          <ion-radio value="user" [checked]="authLevel === 'user'"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Admin</ion-label>
          <ion-radio value="admin" [checked]="authLevel === 'admin'"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="upsertItem()" size="large" expand="full" button="true" class="h4" color="primary" type="submit"
    [disabled]="addUserForm.invalid">
    {{isEdit ? 'Update' : 'Add'}}
  </ion-button>
  <ion-button (click)="removeUser()" *ngIf="isEdit" size="large" expand="full" button="true" class="h4" color="danger"
    type="submit">
    Remove
  </ion-button>
</ion-footer>