<ion-list>
  <ion-list-header>
    <ion-label>Item Options</ion-label>
  </ion-list-header>
  <ion-item (click)="itemClick(item.value)" *ngFor="let item of list" class="clickable">
    <ion-icon slot="start" [name]="item.icon || ''"></ion-icon>
    <ion-label>
      {{item.name}}
    </ion-label>
  </ion-item>
</ion-list>