<ion-list>
    <ion-list-header>
      <ion-label>Info</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Available: {{item.available}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Location: {{item.location}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Consumable: {{item.consumable}}</ion-label>
    </ion-item>
  </ion-list>