<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <ion-list>
    <ion-list-header>
      <ion-label class="h2">Login</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Userid:</ion-label>
      <ion-input formControlName="userid" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Truck:</ion-label>
      <ion-select formControlName="truck" placeholder="Select Truck" mode="md">
        <ion-select-option *ngFor="let truck of trucks" [value]="truck.id">{{truck.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</form>
<ion-footer>
  <ion-button (click)="signIn()" size="large" expand="full" button="true" class="h4" color="primary" type="submit"
    [disabled]="signInForm.invalid">
    Sign In
  </ion-button>
</ion-footer>