<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Trucks</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-input 
      #input clearInput 
      placeholder="Enter Truck Name" 
      (keyup.enter)="upsert()" 
      mode="md"
      [formControl]="name"
    ></ion-input>
    <ion-button slot="end" (click)="upsert()" fill="clear" [disabled]="!name.valid">
      Save
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let truck of trucks | async">
      <ion-label>{{truck.name}}</ion-label>
      <ion-button fill="clear" slot="end" (click)="remove(truck)">
        <ion-icon slot="icon-only" name="trash" mode="md"></ion-icon>
      </ion-button>
    </ion-item>

   

  </ion-list>
</ion-content>