<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAddClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of list | async" class="clickable">
      <ion-item (click)="onUserClick(item.id)" detail>
        <ion-label>{{item.fullName}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button color="primary" (click)="onInfoClick(item, $event)">
          <ion-icon name="information-circle" slot="icon-only" color="tertiary" size="large"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>