.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.custom-table-header{
    color: rgba(0,0,0,.54);
}
.header{
    background-color: white;
}
.checkbox-disabled.consumable{
    opacity: 1;
}
.disabled{
    opacity: .25 !important;
}

.circle{
    border-radius: 50%;
    background-color: aliceblue;
    width: 25px;
    height: 25px;
}

.clickable{
    cursor: pointer;
}