<ion-header>
  <ion-toolbar [color]="isEditMode ? 'dark':'primary'">
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title [ngClass]="{h3: isEditMode}">
      {{isEditMode ? 'Edit Mode' : 'Inventory'}}
    </ion-title>
    <ion-button slot="end" *ngIf="isEditMode" (click)="onDone()" fill="clear" color="light">
      Done
    </ion-button>
    <ion-buttons slot="end" *ngIf="activeUser">
      <ion-select *ngIf="false; else justName" [value]="activeUser?.id" okText="Login" interface="popover" (ionChange)="onSelectChange($event)">
        <ion-select-option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</ion-select-option>
      </ion-select>

    </ion-buttons>
    <ng-template #justName>
      <ion-button (click)="showTruckSelection()" fill="clear">
        {{activeUser.fullName}}
      </ion-button>
    </ng-template>
  </ion-toolbar>

  <ion-segment *ngIf="!isEditMode && displayQueueSegmentBtn" [(ngModel)]="view" (ionChange)="segmentChanged(view)"
    style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <ion-segment-button value="inventory">
      Inventory
    </ion-segment-button>
    <ion-segment-button value="queue">
      Queue
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar *ngIf="view === 'inventory'" [(ngModel)]="searchInput" (ionChange)="onSearch($event)" debounce="500">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isTabletOrDesktop;else phone">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    <ng-container *ngIf="!isEditMode; else editMode">
      <ion-row class="border-bottom custom-table-header">
        <ion-col size="1" class="self-center">
          <ion-checkbox *ngIf="!isEditMode" color="tertiary" [disabled]="true"></ion-checkbox>
          <ion-icon *ngIf="isEditMode" name="reorder" size="large"></ion-icon>
        </ion-col>
        <ion-col size="1" class="self-center">
          Loc.
        </ion-col>
        <ion-col class="self-center">
          Name
        </ion-col>
        <ion-col size="1" class="self-center">
          {{view === 'queue' ? 'Qty.':'Avail.'}}
        </ion-col>
        <ion-col size="2" class="self-center">
          Cml
        </ion-col>
        <ion-col size="1" class="self-center" *ngIf="view === 'inventory' && !isEditMode && isAdmin">
          <ion-button fill="clear" disabled="true" size="small">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="self-center" *ngIf="view === 'queue' && hasRepairItem">
        </ion-col>
      </ion-row>

      <!-- row data -->
      <ng-container *ngFor="let item of inventoryList; let isLast = last">
        <ion-row [class]="'border-bottom' | dismissLoader:isLast:loader">
          <ion-col size="1" class="flex items-center justify-between self-center">
            <ion-checkbox [disabled]="item.status === 'checkout' || item.available === 0" [color]="item | checkboxColor"
              [ngModel]="item.isChecked" (ionChange)="onCheckboxChange(item, $event, 'desktop')"></ion-checkbox>
            <ion-icon *ngIf="isEditMode" name="reorder" size="large"></ion-icon>
            <ion-note *ngIf="item.isChecked" color="primary" class="circle flex items-center justify-center"
              [class.clickable]="item.status !== 'checkout'" (click)="onQuantityLabelClick(item, $event)">
              {{item.quantity}}</ion-note>
          </ion-col>
          <ion-col size="1" class="self-center" [class.disabled]="item.available === 0">{{item.location}}</ion-col>
          <ion-col class="self-center" [class.disabled]="item.available === 0">{{item.name}} </ion-col>
          <ion-col size="1" class="self-center" [class.disabled]="item.available === 0">{{view === 'queue' ? item.quantity : item.available}}</ion-col>
          <ion-col size="2" class="self-center">
            <ion-checkbox [(ngModel)]="item.consumable" disabled="true" [class.disabled]="item.available === 0" color="success" class="consumable"></ion-checkbox>
          </ion-col>
          <ion-col size="1" class="self-center" *ngIf="view === 'inventory' && !isEditMode && isAdmin">
            <ion-button (click)="presentPopoverMenu($event, item.id)" fill="clear" size="small">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1" class="self-center" *ngIf="view === 'queue' && hasRepairItem">
            <ion-button (click)="markForRepair(item.id)" fill="clear" *ngIf="item.allowRepairs">
              <ion-icon name="build"></ion-icon>Repair
            </ion-button>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Users...">

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ng-container>
    <ng-template #editMode>
      <ion-list>
        <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="false">
          <ion-item *ngFor="let item of inventoryList">
            <ion-reorder></ion-reorder>
            <ion-label>
              {{item.name}}
            </ion-label>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ng-template>
  </ion-grid>

  <!-- phone view -->
  <ng-template #phone>
    <ion-list>
      <ion-item-sliding *ngFor="let item of inventoryList">
        <ion-item>
          <ion-checkbox [disabled]="item.allowRepairs && view === 'queue' ? false : (item.status === 'checkout' || item.available === 0)" [color]="item | checkboxColor"
            [ngModel]="item.isChecked" (ionChange)="onCheckboxChange(item, $event, 'mobile')"></ion-checkbox>
          <ion-label [class.disabled]="item.available === 0">
            <h2>{{item.name}}</h2>
            <h4>Available: {{item.available}}</h4>
          </ion-label>
          <ion-note *ngIf="item.isChecked" slot="end" color="primary" [class.disabled]="item.available === 0">QTY: {{item.quantity}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <button ion-button color="primary" (click)="onInfoClick(item, $event)">
            <ion-icon name="information-circle" slot="icon-only" color="tertiary" size="large"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Users...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>