<ion-header mode="ios">
  <ion-card>
    <ion-card-header class="flex items-center justify-between">
      <ion-card-title>Filters</ion-card-title>
      <ion-button fill="clear" color="dark" (click)="show = !show">
        <ion-icon slot="icon-only" [name]="show ? 'add' :'remove'"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content *ngIf="!show">
      <form [formGroup]="form">

        <ion-list>
          <ion-item>
            <ion-label position="stacked">Start Date:</ion-label>
            <ion-datetime display-format="MMMM DD YYYY" picker-format="MMM DD YYYY" formControlName="startDate"
              type="text" required></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">End Date:</ion-label>
            <ion-datetime display-format="MMMM DD YYYY" picker-format="MMM DD YYYY" formControlName="endDate"
              type="text" required></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Item Name:</ion-label>
            <ion-input clearInput placeholder="Enter Item Name" formControlName="name" type="text" required></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-row class="border-bottom table-header">
    <ion-col class="self-center">
      Name
    </ion-col>
    <ion-col class="self-center">
      Quantity
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-grid>
    <ng-container *ngFor="let record of inventory; even as e;">
      <ion-row [ngClass]="{'row-color': e}" class="pl1">
        <ion-col class="self-center">{{record.name}}</ion-col>
        <ion-col class="self-center">{{record.quantity}}</ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>