<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="!showBackBtn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="start" *ngIf="showBackBtn" routerLink="/reports" mode="ios" router-direction="back">
      <ion-icon name="arrow-back" mode="ios"></ion-icon>
      Back
    </ion-button>
    <ion-title>
      Reports
    </ion-title>
    <ion-button *ngIf="showPrintBtn" slot="end" mode="ios" (click)="print()">
      Print
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>