<ion-card>
  <ion-card-header class="flex items-center justify-between">
    <ion-card-title>Filters</ion-card-title>
    <ion-button fill="clear" color="dark" (click)="showFilterPanel = !showFilterPanel">
      <ion-icon slot="icon-only" [name]="!showFilterPanel ? 'add' :'remove'"></ion-icon>
    </ion-button>
  </ion-card-header>

  <ion-card-content *ngIf="showFilterPanel">
    <form [formGroup]="form">

      <ion-list>
        <ion-item *ngIf="startDate">
          <ion-label position="stacked">Start Date:</ion-label>
          <ion-datetime display-format="MMMM DD YYYY" picker-format="MMM DD YYYY" formControlName="startDate"
            type="date" required></ion-datetime>
        </ion-item>
        <ion-item *ngIf="endDate">
          <ion-label position="stacked">End Date:</ion-label>
          <ion-datetime display-format="MMMM DD YYYY" picker-format="MMM DD YYYY" formControlName="endDate"
            type="date" required></ion-datetime>
        </ion-item>
        <ion-item *ngIf="user">
          <ion-label position="stacked">User:</ion-label>
          <ion-input clearInput placeholder="Enter User" formControlName="user" type="text" (keyup)="filterPopover$.next({event:$event, name:'user'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="name">
          <ion-label position="stacked">Name:</ion-label>
          <ion-input clearInput placeholder="Enter Item Name" formControlName="name" type="text" (keyup)="filterPopover$.next({event:$event, name:'name'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="truck">
          <ion-label position="stacked">Truck:</ion-label>
          <ion-input clearInput placeholder="Enter Truck" formControlName="truck" type="text" (keyup)="filterPopover$.next({event:$event, name:'truck'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="status">
          <ion-label position="stacked">Status:</ion-label>
          <ion-input clearInput placeholder="Enter Status" formControlName="status" type="text" (keyup)="filterPopover$.next({event:$event, name:'status'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="location">
          <ion-label position="stacked">Location:</ion-label>
          <ion-input clearInput placeholder="Enter Location" formControlName="location" type="text" (keyup)="filterPopover$.next({event:$event, name:'location'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="vendor">
          <ion-label position="stacked">Vendor:</ion-label>
          <ion-input clearInput placeholder="Enter Vendor" formControlName="vendor" type="text" (keyup)="filterPopover$.next({event:$event, name:'vendor'})"></ion-input>
        </ion-item>
        <ion-item *ngIf="consumable">
          <ion-label position="stacked">Consumable:</ion-label>
          <ion-input clearInput placeholder="Enter Consumable" formControlName="consumable" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="reorder">
          <ion-label position="stacked">Reorder:</ion-label>
          <ion-input clearInput placeholder="Enter Reorder" formControlName="reorder" type="text"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </ion-card-content>
</ion-card>