<ion-header mode="ios">
  <app-filter-panel (valueChanges)="valueChanges($event)" [fields]="fields" [filterData]="filterData"></app-filter-panel>
  <ion-row class="border-bottom table-header">
    <ion-col class="self-center">
      Location
    </ion-col>
    <ion-col class="self-center">
      Name
    </ion-col>
    <ion-col class="self-center">
      Available
    </ion-col>
    <ion-col class="self-center">
      Standard
    </ion-col>
    <ion-col class="self-center">
      Reorder
    </ion-col>
    <ion-col class="self-center">
      Consumable
    </ion-col>
    <ion-col class="self-center">
      Status
    </ion-col>
    <ion-col class="self-center">
      Vendor
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-grid *ngIf="reportsData">
    <ng-container *ngFor="let record of reportsData; even as e; last as isLast; first as isFirst">
      <ion-row [ngClass]="{'row-color': e}">
        <ion-col class="self-center">{{record.location}}</ion-col>
        <ion-col class="self-center">{{record.name}}</ion-col>
        <ion-col class="self-center">{{record.available}}</ion-col>
        <ion-col class="self-center">{{record.standard}}</ion-col>
        <ion-col class="self-center">{{record.reorder || 0}}</ion-col>
        <ion-col class="self-center">{{record.consumable}}</ion-col>
        <ion-col class="self-center">
          <ion-text [color]="record.reorderStatus === 'REORDER' ? 'danger' : ''">{{record.reorderStatus}}</ion-text>
        </ion-col>
        <ion-col class="self-center">{{record.vendor}}</ion-col>
      </ion-row>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Inventory...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>


  <ion-grid *ngIf="!reportsData">
    <ng-container *ngFor="let skeleton of skeletonList">
      <ion-row [ngClass]="{'row-color': e}">
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>
        <ion-col class="self-center">
          <ion-skeleton-text animated style="line-height: 2;"></ion-skeleton-text>
        </ion-col>

      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>