<ion-list lines="none">
  <ion-list-header>
    <ion-label>{{title}}</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-button expand="full" fill="clear" color="dark" (click)="onClick('add')">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-button>
    <ion-input (keyup.enter)="submit()" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" type="number" style="text-align:center;font-size: 20px;"></ion-input>
    <ion-button expand="full" fill="clear" color="dark" (click)="onClick('remove')">
      <ion-icon name="remove" size="large"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="submit()" class="h4" fill="clear" expand="full" style="width:100%">
      Submit
    </ion-button>
  </ion-item>
</ion-list>