// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --space-1: 10px;
  }

.clickable{
    cursor: pointer;
    &.hover:hover{
        background-color: rgba($color: #000000, $alpha: .3)
    }
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .version{
        padding-left: 10px;
    }
}

.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}

.table-header{
    font-weight: 400;
    padding: 8px 10px 10px;
}

.row-color{
    background-color: #fbfafa;
}

@media print {
    body,html {
      overflow: auto
    }
  }