<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="!isModal">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Inventory Item</ion-title>
    <ion-button slot="end" *ngIf="isModal" (click)="onClose()" fill="clear" color="light">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="addItemForm" (ngSubmit)="upsertItem()">
    <ion-list>
      <ion-item>
        <ion-label>Location:</ion-label>
        <ion-input formControlName="location" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Standard:</ion-label>
        <ion-input formControlName="standard" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Available:</ion-label>
        <ion-input formControlName="available" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Reorder:</ion-label>
        <ion-input formControlName="reorder" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Consumable:</ion-label>
        <ion-toggle formControlName="consumable" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Vendor:</ion-label>
        <ion-input formControlName="vendor" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Allow Zero Quantity:</ion-label>
        <ion-toggle formControlName="allowZeroQty" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Partial Consumable:</ion-label>
        <ion-toggle formControlName="partialCml" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Allow Repairs:</ion-label>
        <ion-toggle formControlName="allowRepairs" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Hide On Inventory Report:</ion-label>
        <ion-toggle formControlName="hideInventoryReport" slot="end"></ion-toggle>
      </ion-item>
    </ion-list>

  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="upsertItem()" size="large" expand="full" button="true" class="h4" color="primary" type="submit"
    [disabled]="addItemForm.invalid">
    {{isModal ? 'Update' : 'Add'}}
  </ion-button>
</ion-footer>